
.table1 {
    margin: 10px auto;
    margin-top: 50px;
    width: 70%;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

.header-title {
    padding: 15px 10px !important;
    border: none !important; /* Forces the removal of the border */
}

.header-title h1 {
    margin: 0; /* Remove any margin around the <h1> to prevent extra spacing */
}

.header-section {
    background-color: #f5f5f5 !important;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}