:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

    a:hover {
        color: #717ff5;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    margin-right: 100px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}


@media (min-width: 1200px) {

    #main,
    #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}


/* Recent Sales */

.table thead {
    background: #f6f6fe;
}

    .table thead th {
        border: 0;
    }

.dataTable-top {
    padding: 0 0 10px 0;
}

.dataTable-bottom {
    padding: 10px 0 0 0;
}


@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table tbody td {
    text-align: center;
}

.cust_name {
}

.cust_pnum {
}

.custAddress {
}

.driver_name {
}

.driver_pnum {
}

.admin_pickup_date {
}

.admin_pickup_loc {
}

.admin_drop_date {
}

.admin_drop_time {
}

.admin_price {
}
