.booking_container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.header_row_title {
    border: 1px solid red;
}

.booking_title {
    text-align: center;
    padding: 40px;
    font-size: 30px;
    font-weight: 800;
}

.booking_id {
    width: 10%;
}

.booking_vehicle {
    width: 20%;
}

.booking_pickup {
    width: 20%;
}

.booking_dropoff {
    width: 20%;
}

.booking_price {
    width: 10%;
}

.booking_status {
    width: 10%;
}

.booking_edit {
    width: 10%;
}

.status_icon {
    font-size: 16px;
}

.edit_btn_style {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    touch-action: manipulation;
}

    .edit_btn_style:hover {
        box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
        transform: scale(1.05) rotate(-1deg);
    }
