/*back btn*/
.back_btn {
    padding: 0px !important;
    border-radius: 30% !important;
    background-color: rgba(0, 163, 108,0.2);
    color: rgb(0,0,0);
    border: none !important;
    transition: background-color 1s, transform 0.5s;
}


.back_btn:hover {
    background-color: rgba(0, 163, 108,0.8);
    color: black;
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
}

.booking_content_box {
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.booking_col_left {
    box-sizing: border-box;
    display: flex;
    width: 60%;
    border: 1px solid gray;
    font-weight: 600;
    font-size: 18px;
}


.booking_col_right {
    box-sizing: border-box;
    display: flex;
    width: 40%; 
    border: 1px solid yellow;
    font-size: 16px;
}

.booking_record img{
    width: 350px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.booking_car_table {
    width: 100%;
}

.booking_car_table_header {
    text-align: center;
    line-height: 3;
    font-weight: 800;
    font-size: 24px;
    border-top: 2px solid gray;
    border-bottom: 1px solid gray;
}


.booking_car_table_info {
    width: 100%;
    line-height: 2;
}

    .booking_car_table_info th, .booking_car_table_info td {
        border: 1px solid gray;
    }

    .booking_car_table_info th {
        padding-left: 40px;
        border-left: none;
    }

    .booking_car_table_info td {
        padding-left: 20px;
        border-right: none;
    }

.note_multilineText{
    resize: none;
    overflow:hidden;
}

.booking_price_table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.booking_price_table_header, .booking_notes_table_header {
    line-height: 3;
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    border-top: none;
    border-bottom: 1px solid gray;
}

.booking_price_table_title {
    line-height: 2;
}

    .booking_price_table_title th {
        font-size: 20px;
        border-right: 1px solid gray;
    }

.booking_price_table_info {
    line-height: 2;
}

    .booking_price_table_info td {
        border-right: 1px solid gray;
    }

.addon_description {
    color: gray;
    font-style: italic;
}

.booking_summary_container {
    margin-top: 20px;
}

.invoice_container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure container height if necessary */
}
.invoice_style{
    font-size:20px;
    width:80%;
    
}

.booking_edit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #ffffff;
    font-size: 18px;
    border-radius: 1px;
    width: 80px ;
    height: 40px;
    font-weight: bold;
    border-bottom: 4px solid #179e43 ;
    transition: 0.3s ;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: #19d256;
}

.booking_edit_btn:hover {
    box-shadow: 0 0 rgba(0, 0, 0, 0.4);
    border-bottom-width: 2px;
    transform: translateY(2px);
}

.booking_delete_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 1px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    border-bottom: 4px solid #fc5f3d;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: #f44336;
}

    .booking_delete_btn:hover {
        box-shadow: 0 0 rgba(0, 0, 0, 0.4);
        border-bottom-width: 2px;
        transform: translateY(2px);
    }

    /*You*/
.rating-container {
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 3%;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    color: black;
}

.rate-first-row {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.rating {
    margin: 0 0 10px 10px;
    vertical-align: middle;
}

.rating i {
    color: lightgray;
    cursor: pointer;
    font-size: 22px;
    transition: color 0.2s ease-in-out;
}

/* Hover state: Orange color */
.rating i:hover,
.rating i:hover ~ i {
    color: orange;
}

/* Clicked state: Orange color */
.rating i.checked {
   /* color: orange;*/
}

.txtComment {
    padding: 10px;
    resize: none;
    overflow-y: auto;
    width: 100%;
}

@media only screen and (max-width:1320px) {
    .note_multilineText {
        width: 500px;
    }
}

@media only screen and (max-width:770px) {
    .payment_block {
        margin-bottom: 10px;
    }

   
} 

@media only screen and (max-width:600px) {
    .col-8 {
        width: 50%;
    }

    .col-2 {
        width: 25%;
    }
    .booking_car_table_info th{
        padding-left:0;
    }

    .booking_Id_title_container{
        text-align:center;
    }
}

@media only screen and (max-width:520px){
    .entire_container{
        padding-left:0;
    }

    .note_multilineText{
        width:250px;
    }
}

@media only screen and (max-width:440px) {

    .note_multilineText {
        width: 150px;
    }
}

@media only screen and (max-width:410px) {
    .col-8 {
        width: 40%;
    }

    .col-2 {
        width: 30%;
    }
    .booking_Id_title_container{
        padding-right:0;
    }
}

@media print {

    .back_btn,
    .booking_edit_btn_container,
    .booking_delete_btn_container,
    .rating-container,
    .invoice_btn,
    .payment_booking_summary,
    .container-footer{
        display: none !important;
    }

    .img_rating_flex_container{
        margin-left:300px;
    }

    .booking_Id_title_container {
        margin-left: 250px;
    }

   
   
}