.selectable {
    padding-left: 100px;
}

.non-selectable {
    color: gray;
    pointer-events: none;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

:root {
    --primary-color: #3d5cb8;
    --primary-color-dark: #334c99;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --extra-light: #f1f5f9;
    --white: #ffffff;
    --max-width: 1000px;
}


.section_container {
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 20px;
    height: auto;
    padding-top: 30px;
}

.bg_cover {
    background-image: url('../Image/WZ/road1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    padding-bottom: 200px;
    margin-bottom: 50px;
}



.header_container .section_header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.booking_container {
    border-radius: 20px;
    border: 3px solid var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    margin-top: 65px;
    position: relative;
}

.booking_nav {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--extra-light);
    border-radius: 5px;
}

    .booking_nav span {
        flex: 1;
        padding: 1rem 2rem;
        font-weight: 500;
        color: var(--text-light);
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

        .booking_nav span:nth-child(2) {
            color: var(--white);
            background-color: var(--primary-color);
        }

.booking_container .form_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr) auto;
    gap: 1px;
}

.booking_container .input_content {
    width: 100%;
}

.booking_container .form_group {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .booking_container .form_group span {
        padding: 10px;
        font-size: 1.5rem;
        color: var(--text-dark);
        background-color: var(--extra-light);
        border-radius: 1rem;
    }

.booking_container .input_group {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    position: relative;
    height: auto;
    top: 0px;
    left: 0px;
}
/*display:flex;*/

/*.booking_container .left_input{
    width:70%;
    box-sizing:border-box;
}

.booking_container .right_input{
    width:30%;
    box-sizing:border-box;
}*/
/*.booking_container label{
    position:absolute;
    top:50%;
    left:0%;
    transform:translateY(-50%);
    font-size:1.2rem;
    font-weight:500;
    color: var(--text-dark);
    pointer-events:none;
    transition:0.3s;
}*/
.booking_container .form_group p {
    margin-top: .5px;
    font-size: 12px;
    color: var(--white);
}

.control_style {
    /*    flex:1;*/
    width: 95%;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
}

    .control_style:focus {
        border: 3px solid var(--primary-color);
        box-shadow: 10px 0px 8px var(--primary-color-dark);
    }

    .control_style option[value=""] {
        color: #999; /* Change color to distinguish placeholder */
    }

/* for asp.net control styling*/
/*move upper and text smaller*/
/*.control_style:focus ~ label{
    font-size:0.8rem;
    top:10px;              
}
*/
.home_label_style {
    padding: 5px !important;
    font-size: 18px !important;
    color: var(--text-dark) !important;
    background-color: var(--extra-light) !important;
    border-radius: 10px !important;
    text-align: center;
    width: 40%;
}

.search_btn_style {
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    right: 20px;
}

    .search_btn_style:hover {
        background-color: var(--primary-color-dark);
    }

/* info section*/
.plan_container {

    margin-left:auto;
    margin-right:auto;
    margin-bottom: 100px;
}

    .plan_container .subheader {
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 600;
        color: var(--text-dark);
        letter-spacing: 5px;
    }

    .plan_container .section_header {
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    .plan_container .description {
        text-align: center;
        color: var(--text-light);
    }

.plan_grid {
    width: 100%;
    margin-top: 100px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

.plan_content{
    width:60%;
    margin:auto;
}

.plan_image{
    width:40%;
}
.plan_content .number {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: .5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 2rem;
}

    .plan_content .number:nth-child(4) {
        background-color: #e98b6d;
    }

    .plan_content .number:nth-child(7) {
        background-color: #ffcca3;
    }

.plan_content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

.plan_content p {
    color: var(--text-light);
    margin-bottom: 2rem;
}

.plan_image {
    position: relative;
    width:50%;
}

    .plan_image img {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10rem;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    }

        .plan_image img:nth-child(1) {
            max-width: 250px;
            transform: translate(calc(-50% - 3rem), calc(-50% + 5rem));
            z-index: 3;
        }

        .plan_image img:nth-child(2) {
            max-width: 300px;
            transform: translate(-10%, calc(-50% - 6rem));
            z-index: 2;
        }

        .plan_image img:nth-child(3) {
            max-width: 230px;
            transform: translate(calc(-50% + 18rem), calc(-50% + 5rem));
        }
@media screen and (max-width: 1200px) {
    .plan_image {
        margin-left:20px;
    }

        .plan_image img {
            
            top: 50%;
            left: 70%;
            
        }
        .plan_image img:nth-child(1) {
            max-width: 200px;
            max-height: 200px;
            transform: translate(calc(-90% + 1rem), calc(-90% + 6rem));
            z-index: 3;
        }

        .plan_image img:nth-child(2) {
            max-width: 200px;
            max-height: 200px;
            transform: translate(-80%, calc(-50% - 9rem));
            z-index: 2;
        }

        .plan_image img:nth-child(3) {
            max-width: 200px;
            max-height: 200px;
            transform: translate(calc(-90% + 1rem), calc(-20% + 6rem));
        }
}
