.info_head_container {
    padding: 20px;
}

.header {
    border: 2px solid #ffc107;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
}

.infopg_pickup, .infopg_dropoff {
    margin-right: 20px;
}

    .infopg_pickup h3, .infopg_dropoff h3 {
        margin: 0;
        font-size: 1.1em;
    }

    .infopg_pickup p, .infopg_dropoff p {
        margin: 0;
        font-size: 0.9em;
        color: #777;
    }

.arrow {
    font-size: 1.5em;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #007bff;
}

.info-icon {
    margin-right: 5px;
}

.edit {
    margin-left: 20px;
}

.edit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

    .edit-button:hover {
        background-color: #218838;
    }

/*body part*/
.info_body_container {
    font-family: Arial, sans-serif;
    margin-bottom: 5%;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.left-side {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.right-side {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    min-height: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.info {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon {
    margin-right: 10px;
}

.charges_summary {
    margin-top: 30px;
}

.charge_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.summary_title {
    margin: 0;
    font-weight: bold;
}

.summary_amt {
    margin: 0;
    text-align: right;
}

.summary_total {
    background-color: antiquewhite;
}

    .summary_total .summary_amt {
        color: green;
    }


/*.left-side .box:nth-child(1) {
    height: 150px;
}

.left-side .box:nth-child(2) {
    height: 200px;
}

.left-side .box:nth-child(3) {
    height: 100px;
}

.right-side .box:nth-child(1) {
    height: 120px;
}

.right-side .box:nth-child(2) {
    height: 180px;
}

.right-side .box:nth-child(3) {
    height: 140px;
}*/
