html{
    height:100%;
    box-sizing:border-box;
    background-color:#fff;
}

body {
    font: 12pt Calibri;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74em;
    box-sizing: inherit;
    background-color: #effaf6;
}

#logo{
    width: 100px;
}

#content {
    padding-top: 60px;
}

.container-footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.form-white.input-group > .form-control:focus {
    border-color: #3490dc;
    box-shadow: inset 0 0 0 1px #fff;
}

.container-footer .nav-link.custom-nav-link{
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.container-footer .nav-link.custom-nav-link:hover {
    color: #3490dc;
}

.img-size {
     width: 100%;
     height: 200px;
     margin-bottom:10px;
     object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.checkboxlist label{
    padding-right: 10px;
    vertical-align:text-top;
}

.checkboxlist input {
    margin-bottom: 7px;
    margin-right: 5px;
}

.validate {
    font-size: 0.8em;
    color: red;
}

.profile-image-frame {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align:middle;
    align-items: center;
    justify-content: center;
}

    .profile-image-frame img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


