/*.paymentpg_body {
    width: 100%;
}

.paymentpg_container {
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}

    .paymentpg_container .row {
        width:100%;
        margin:auto;
    }

.payment_left_side {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.payment_right_side {
    width: 30%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
}
*/

small {
    font-size: 12px;
    letter-spacing: 1px;
}

.chkApplyCard {
    margin-top: 20px;
    
}

.chkboxApply{
    padding-right:10px;
}

.chkboxApply input[type="checkbox"]{
    transform: scale(1.5);
    
}


.accordion-item {
    margin-top:25px;
    border-color: rgb(115, 147, 179) rgb(218,165,32);
    border-width: 3px;
    background-color: rgb(229, 228, 226);
}

.accordion_btn_style {
    color: #007bff; 
    font-size: 18px; 
    font-weight: 800;
    background-color: #f8f9fa; 
    padding: 15px 20px; 
    transition: background-color 0.3s ease; 
}

    .accordion_btn_style:hover {
        background-color: #4364c7; /* Change background on hover */
        color: white; /* Change text color on hover */
    }


.label_style,
h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #5f5b5b;
}


.paymentpg_backbtn,
.paymentpg_paybtn,
.form-control {
    height: 48px;
    border-radius: 2px;
}

.paymentpg_backbtn {
    background: none;
}

    .paymentpg_backbtn:hover {
        background: #c7c7c7;
    }

.paymentpg_paybtn {
    background: #4364c7;
    color: white;
}

    .paymentpg_paybtn:hover {
        background: #33479b;
    }

    .existingcard_container{
        color:black;
    }

/* modal extra*/
#paymentModal h5{

}

#confirmBookModal h5 {
    margin: auto;
    text-align: center;
}

.congrats {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.congrats_start {
    font-size: 24px;
    font-weight: 800;
    color: rgb(255, 68, 51);
    animation: showup 7s infinite;
}

.congrats_end {
    font-size: 24px;
    color: rgba(255, 95, 31,0.9);
    width: 0px;
    animation: reveal 7s infinite;
}

    .congrats_end span {
        margin-left: -455px;
        animation: slidein 7s infinite;
    }

@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 455px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 455px;
    }
}

@media (max-width: 720px) {
    .accordion-body{
        padding:0;

    }

    .existingcard_container{
        padding:0 !important;
    }

    .d-flex {
        flex-direction: column !important;
        margin:0px !important;
      
    }

    .accordion-button {
        font-size: 16px; /* Adjust font size for small screens */
    }

    .existingcard_container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .data-mdb-input-init table {
        width: 100%; /* Make sure table adjusts to the container width */
    }
}

@media (max-width: 630px) {
    .d-flex {
        align-items: flex-start !important;
    }
}

@media (max-width: 530px) {
    .existingcard_container {
        font-size: 12px;
    }

    .accordion-button {
        font-size: 14px !important;
        padding: 0 0 0 5px !important;
    }

    .paymentbtn_row {
        margin: 0 !important;
    }

    .charge_box_right {
        padding: 0 !important;
    }
}