#img-holder {
    width: 1500px;
}

.hourselect option:nth-child(-n+8), .hourselect option:nth-child(n+22) {
    display: none;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #3d5cb8 !important;
    border-color: transparent !important;
    color: #fff !important;
}

@media screen and (max-width: 1200px) {
    #img-holder {
        max-width: 1000px;
    }
}

@media screen and (max-width: 768px) {
    #img-holder {
        max-width: 700px; 
    }
}

@media screen and (max-width: 550px) {
    #img-holder {
        max-width: 300px; 
    }
}
