html, body {
    
}

.BG {
    background-color: #F7FFFF;
    min-height: 100vh;
    padding: 50px;
}
.Top {
    background-color: #D5E7F4;
    border-radius: 30px;
    /*border: 1pt solid black;*/
    margin: 0 auto;
    padding: 100px 100px;
    width: 45%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.Middle {
    background-color: #EAF8F9;
    /*border: 1px solid black;*/
    border-radius: 30px;
    padding: 30px;
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}