.disabled-btn {
    pointer-events: none; 
    opacity: 0.5; 
    cursor: not-allowed; 
}

.redemption-container {
    font-size: clamp(15px, 3vw, 60px);
    font-family: 'Leelawadee UI', sans-serif !important;
    padding: 30px;
    margin: 10px auto;
    width: 100%;
}

.redemption-container-header h2 {
    font-size: clamp(45px, 3vw, 60px);
    margin-bottom: 30px;
    font-weight: 900;
}

.redemption-container-body {
    width: 100%;
    justify-content: space-evenly;
}

.vouchercard {
    height: auto;
    margin: 20px 0;
    align-items:center;
}


.voucher-head .ItemName {
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 18px;
    color: #04024d !important;
    font-size: clamp(20px, 2vw, 30px);
    word-wrap: break-word;
}

.vouchercard p {
    padding: 15px 0 5px 0;
    font-size: clamp(19px, 2vw, 20px);
    word-wrap: break-word;
}

.btn-danger.resize {
    width: 50%;
    height: 48px;
    font-size: clamp(16px, 2vw, 20px);
    word-wrap: break-word;
    /*margin: 0 0 0 100px;*/
}

.RItem {
    min-width: 270px;
    width: 400px;
    min-height: 515px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image .ItemImage {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 90%;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    
}