

.RP {
    margin: 0 auto;
    margin-bottom: 100px;
    height: auto;
    width: 100%;
    padding: 80px 0px;
    color: white;
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    font-family: 'Leelawadee UI', sans-serif;
    font-weight: bolder;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    background-image: url('../image/rewardpoint/bg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    position: relative;
    z-index: 0;
}

    /* Overlay effect without isolation */
    .RP::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: -1; /* Ensure it’s behind other content */
    }

.RP .RPHeader {
    padding: 20px 0 20px 0;
}

    .RP .RPHeader h2 {
        display: inline-block;
        border-radius: 10px;
        padding: 30px 0;
        width: 80%;
        font-weight: 800;
        font-size: clamp(2rem, 2vw + 1rem, 45px);
    }

    .RP .RPHeader-1 {
        font-weight: bold;
        font-size: clamp(60px, 2vw + 1rem, 2.5rem) !important;
    }

.RP .RP-left {
    margin-left: 260px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.RP .RP-left .RPHeader-Bottom {
    margin-bottom: 40px;
}

.RP .RP-left .RPHeader-Bottom .btn {
    margin-top: 60px;
    width: 150px;
    height: 70px;
    font-size: 28px;
}

.RP .RP-right{
    margin: 0 auto;
    flex:20%;
    padding:20px;
    display: flex;
    flex-direction: column;
}

.RP .RP-right .right-upperside {
    text-align: end;
    font-size: 15px;
    margin: 30px 240px 30px 0;
}

.RP .RP-right .right-upperside a {
    color:white;
    width: auto;
}

    .RP .RP-right .right-upperside a:hover {
        color: lightblue;
    }

.RP .RP-right .right-lowerside-1 {
    display: flex;
    justify-content:center;
}

.RPImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 10px;
}

.RP .RP-right .right-lowerside-2 {
    width: 50%;
}

p.ex-1 {
    font-size: clamp(10px, 2vw + 1rem, 30px);
}

@media (max-width: 1400px) {
    .RP {
        background-size: cover;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
    }

        .RP .RP-left {
            padding: 0 10px;
            margin: 0 auto;
        }

    .RP-right {
        padding: 0 10px;
        align-items: center;
    }

    .RPImage {
        max-width: 80%;
    }

    .RP .RP-right .right-upperside a{
        text-align:left;
        margin: 0 auto;
    }

    .RP .RP-left .RPHeader-Bottom .btn {
        max-height: 40px;
        max-width: 110px;
        font-size: 20px;
    }
} 
